// ELEMENTS
// -- NAVIGATION
$nav-top-height: 0px
$nav-main-height: 80px
$nav-total-height: $nav-top-height + $nav-main-height
// -- HOME
$home-hero-height: 462px

// TEXT & ELEMENT COLORS
$open-sans: Open Sans
$roboto: "Roboto Condensed"
//
html, body 
  height: 100%
  margin: 0
  padding: 0
  
#map 
  width: 100%
  height: 400px
  
//
.sub
  text-align: center
  width: 75%
  margin: 0px auto 50px auto
  @media screen and (max-width: 768px)
    width: 100%
    @media screen and (max-width: 480px)
      width: 90%
// //
// .subpage
//   .hero
//     width: 100%
//     padding: 0px
//     position: relative
//     .banner
//       height: 40vh
//       min-height: 50vh
//       max-height: 50vh
//       background-repeat: no-repeat
//       background-attachment: fixed
//       background-size: contain
//       background-position: center top
//       +clearfix
.clearfix
  clear: both
  content: ""
  display: table
.pagination
  text-align: center
address
  display: inline

// PARENT ELEMENTS
header, nav, section, main, footer
  +clearfix
// CHILD ELEMENT
article, figure, figcaption, aside, details, .item, .sub-item
  float: left
// BLOCK HELPER
.block
  float: none !important
// FLOAT HELPER
.left
  float: left
.right
  float: right

// PAGE LEVEL CLEAFIX
body, .page
  +clearfix

.no-margin
  margin: 0 auto !important
  padding: 0 !important
.margin
  padding: 30px 0

section .conainer
  width: auto

// MAP

#map
  height: 100%

//VIDEO

iframe, embed, video
  width: 100% !important
