// GLOBALS
body
  font-family: Arial, Helvetica
h1, h2, h3, h4, h6, h1 span, h2 span, h3 span, h4 span, h6 span, h1 a, h2 a, h3 a, h4 a, h6 a,
  font-family: Calibri, $open-sans
  font-weight: Bold
.content a
  color: $prime-color1
a
  text-decoration: none
  color: inherit
  &:hover
    color: $prime-color1
.float-left
  float: left
.float-right
  float: right
section
  +clearfix
  width: $container-width
  margin: $margin-center
  padding: 30px 0px 30px 0px
  @media screen and (max-width: 480px)
    width: 90%
h1
  color: $prime-color2
  font-size: 33px
  text-align: center
  // text-transform: uppercase
  position: relative
  span
    font-weight: 600
    color: $prime-color1
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin: 1em 0
h2
  color: $prime-color2
  font-size: 27px
  // text-transform: uppercase
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin: 1em 0
h3
  color: $prime-color2
  font-size: 18px
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin: 1em 0
h4
  color: $prime-color2
  font-size: 1.2em
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin: 1em 0
h5
  color: $prime-color2
  font-size: 1em
  margin: 1em 0
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
h3 span
  color: $prime-color1
p
  font-size: 0.9em
  font-weight: normal
  color: $text-light
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin: 0.5em 0
li
  font-size: 0.9em
  font-weight: normal
  color: $text-dark
ul.navigation li
  list-style-type: none