.home
  .work
    article
      &:nth-child(1)
        width: $two-thirds
        padding-right: 2%
      &:nth-child(2)
        width: $one-third
        padding-left: 2%


  .inspired
    width: $full
    background-image: url('img/rectangle.jpg')
    padding-top: 0
    article
      width: $two-thirds
  .ourway
    article
      &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5)
        width: $half
      &:nth-child(1), &:nth-child(3), &:nth-child(5)
        background: $grey1
      &:nth-child(2), &:nth-child(4)
        background: $grey2
      border: 2px solid white
  .about
    background-image: url('img/kid2.jpg')
    background-size: cover
    width: $full
    padding: 30px 5%
    article
      background: rgba(254, 120, 0, 0.7)
      width: $two-thirds
      float: right
      text-align: center
      padding: 30px
      .item
        width: 317px
        margin: 0 auto
        float: none
        .button
          &:nth-child(2)
            margin: 0 20px
 
    // .our-way
    //   &:before
    //     width: 40% !important
  // p
  //   font-family: Calibri
  //   font-weight: bold
  //   line-height: 1.5em
  //   margin-top: 10px
  //   height: 100px
  // .services
  //   article
  //     width: $one-third
  //     padding: 0 42px
  //     text-align: center
  //     &:nth-child(2)
  //       border-right: 1px solid $greyish
  //       border-left: 1px solid $greyish
      
  //     .button
  //       text-align: center
  //       float: none
  //       a
  //         font-family: Calibri
  //         font-weight: bold
  //         text-transform: uppercase
  //     figure
  //       background: $prime-color1
  //       width: 200px
  //       height: 200px
  //       @include vendor-prefix('border-radius','100px')
  //       margin: 0 auto
  //       float: none
  //       img
  //         width: initial
  //         padding: 30px 0 0px 60px
  //       .text
  //         color: white
  //         text-transform: uppercase
  //         text-align: center
  //         padding: 17px 0 0 0
  //         margin: 0

  // .news
  //   article
  //     width: $one-third
  //     padding: 0 50px 0 0
  //     &:nth-child(1)
  //       .item
  //         float: right
  //     .item
  //       width: 220px
  //       figure
          
