//
.news
  section
    figure
      width: $two-fifths
    article
      width: $three-fifths
      h2
        margin-top: 0
      // .byline
      p
        margin-top: 0
        color: black
        font-weight: 600
      .button
        padding-top: 25px
        width: 60%
        a
          padding: 12px 60px
  .button.full-btn
    width: 60%
//
.our-leadership
  .executives, .board
    h2
      // margin-bottom: 0
    .item
      width: $one-third
      padding: 0 6%
      .inner
        padding: 5px 12px
      figure
        float: none
        img
          border: 1px solid #bbb
      h3
        color: $prime-color1
        margin: 0
      h6
        margin: 0
      .button
        margin-top: 15px
        padding: 13px 40px
        border-left: 1px solid #bbb
        border-right: 1px solid #bbb
        border-bottom: 1px solid #bbb
  .board
    padding-top: 0
    padding-bottom: 80px
    .item
      width: $quarter
      padding: 0 3%
        

