.news
  section
    figure
      width: $two-fifths
    article
      width: $three-fifths
      h2
        margin-top: 0
      // .byline
      p
        margin-top: 0
        color: black
        font-weight: 600
      .button
        padding-top: 25px
        width: 60%
        a
          padding: 12px 60px
  .button.full-btn
    width: 60%