h1
  color: $prime-color1
  font-size: 50px
  font-weight: 700
  // text-align: center
  // text-transform: uppercase
  span
    font-weight: 700
    color: $prime-color1
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  // text-transform: uppercase
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin: 1em 0
h2
  color: $prime-color1
  font-size: 35px
  font-weight: 700
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin: 1em 0
  @media screen and (max-width: 480px)
    font-size: 25px
h3
  color: $prime-color2
  font-size: 25px
  font-weight: 700
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin: 1em 0
h4
  color: $prime-color2
  font-size: 1.2em
  font-weight: 700
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin: 1em 0
h5
  color: $prime-color2
  font-weight: 700
  font-size: 1em
  margin: 1em 0
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
h3 span
  color: $prime-color1
  margin: 1em 0
h6
  color: $text-light
  font-weight: 300
  font-size: 0.8em
  margin: 1em 0
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em

// ADDS LINE DECORATION TO HEADINGS
.heading
  position: relative
  text-align: center
  &:before
    content: ""
    width: 35%
    @media screen and (max-width: 1024px)
      width: 30%
    @media screen and (max-width: 768px)
      width: 20% !important
    @media screen and (max-width: 480px)
      display: none
    border-top: 1px solid $prime-color1
    @include position(absolute, 25px null null 0px)
  &:after
    content: ""
    border-top: 1px solid $prime-color1
    width: 35%
    @media screen and (max-width: 1024px)
      width: 30%
    @media screen and (max-width: 768px)
      width: 20% !important
    @media screen and (max-width: 480px)
      display: none
    border-top: 1px solid $prime-color1
    @include position(absolute, 25px 0px null null)
// ADDS LINE DECORATION TO ICONS
.icon-heading
  width: 100%
  text-align: center
  @extend .heading
  img
    height: 48px
    width: auto
// HEAIDNG WITH GREY BACKGROUND + BORDER-TOP
.heading-grey
  background: $grey1
  border-top: 1px solid $prime-color1
  padding: 30px 100px
  display: inline-block
  @media screen and (max-width: 480px)
    padding: 30px 0
// HEAIDNG WITH GREY BACKGROUND
.grey
  background: $grey1
  padding: 30px 100px
  display: inline-block
  @media screen and (max-width: 480px)
    padding: 30px 0
