footer
  +clearfix
  color: white
  font-weight: bold
  // margin-top: 60px
  section
    width: 100%
  .top
    width: 100%
    padding: 0
    background: $prime-color2
    .item
      min-height: 300px
      &:nth-child(1)
        width: 10%
        background: $prime-color2
      &:nth-child(2)
        width: 25%
        background: $prime-color2
        padding-right: 5%
      &:nth-child(3)
        width: 25%
        background: $prime-color2
        padding-right: 5%
      &:nth-child(4)
        width: 10%
        background: $prime-color2
        padding-right: 1%
        a
          display: block
      &:nth-child(5)
        width: 20%
        background: $prime-color3
        padding-left: 5%
        input
          height: 40px
          margin: 20px 0
        .button
          float: right
      &:nth-child(6)
        width: 10%
        background: $prime-color3
      h3
        color: $prime-color1
        text-transform: uppercase
        font-weight: 300
      p
        color: white
      a
        @extend p
  .bottom
    background: black
    color: white
    padding: 0
    a, p
      color: white
    .copyright
      float: left
    .item
      float: right
      padding-top: 13px
//RESPONSIVE
footer
  // section
  .top
    .item
      @media screen and (max-width: 768px)
        min-height: initial
        &:nth-child(1)
          display: none
        &:nth-child(2)
          width: 50%
          padding-left: 5%
        &:nth-child(3)
          width: 50%
        &:nth-child(4)
          width: 50%
        &:nth-child(5)
          background: $prime-color2
          width: 50%
          .button
            width: 100%
        &:nth-child(6)
          width: 10%
          background: $prime-color2
            display: none
      @media screen and (max-width: 480px)
        &:nth-child(2)
          width: 100%
          padding-left: 5%
        &:nth-child(3)
          width: 100%
          padding-left: 5%
        &:nth-child(4)
          width: 100%
          padding-left: 5%
        &:nth-child(5)
          width: 100%


    //   float: right
    //   a
    //     color: white
    //     font-weight: bold
    //     padding: 0 10px
    //     @include vendor-prefix('transition','all 0.3s ease')
    //     &:hover
    //       color: white
    //       border-bottom: 1px solid white
    // &:nth-child(1)
    //   .sub-item
    //     &:nth-child(1)
    //       padding: 6px 20px
      
//   color: $whitest
//   a
//     color: $whitest
//     text-decoration: none
//     &:visited
//       color: $prime-color3
//   .top
//     +clearfix
//     width: $full
//     padding-top: 30px
//     .inner
//       width: $container-width
//       margin: 0px auto 20px auto
//       +clearfix
//       .item
//         width: $one-third
//         float: left
//         p
//           font-size: 0.8em
//           color: white
//       .column
//         float: left
//         &:last-of-type
//           float: right
//         h5
//           font-weight: bold
//           color: white
//         ul
//           list-style-type: none
//           li
//             width: $full
//             padding-bottom: 15px
//             list-style-type: none
//             font-size: 0.9em
//             +clearfix
//             a
//               width: auto
//         .menu-footer
//           li
//             a
//               &:hover
//                 color: $white
//                 text-decoration: underline
//         .inner
//           float: right
//           p
//             font-size: 0.8em
//             color: white
//           input
//             color: $prime-color1
//             width: 80%
//             float: left
//             padding: 10.5px
//             margin-right: 5px
//             border: 0px
//           .wysija-submit-field
//             width: 23%
//             margin: 0
//             &:hover
//               color: white
//               background: $prime-color2
//           .newsletter
//             width: $full
//             +clearfix
//             input
//               width: 83%
//               font-size: 13px
//               padding: 6px 10px
//               border-radius: 4px
//               margin: 5px 0
//               background: white

//             .button
//               padding: 0px
//               width: 20%
//               button
//                 font-size: 13px
//                 padding: 6px 10px
//                 border-radius: 4px
//               button:hover
//                 background: $grey
//           .social
//             width: $full
//             padding-top: 15px
//             .social-icons
//               +clearfix
//               float: left
//               padding-right: 9px
//               a
//                 float: left
//                 border-radius: 3px
//                 color: #fff
//                 display: block
//                 font-size: 18px
//                 height: 30px
//                 text-align: center
//                 width: 30px
//                 margin-right: 10px
//               .twitter-bg
//                 background: #00aced
//               .facebook-bg
//                 background: #3b5998
//               .youtube-bg
//                 background: #bb0000
//               .linkedin-bg
//                 background: #007bb5

//   .bottom
//     width: $full
//     padding: 15px 0px
//     +clearfix
//     background: $prime-color2
//     .inner
//       width: $container-width
//       margin: $margin-center
//       font-size: 0.75em
//       .item
//         float: right
//         a

// //RESPONSIVE
// footer .top .inner
//   .item:nth-child(1)
//     @media screen and (max-width: 1024px)
//       width: $full
//   .item:nth-child(2)
//     @media screen and (max-width: 1024px)
//       width: $half
//       float: left
//       .column
//         float: none
//       @media screen and (max-width: 768px)
//         width: $full
//   .item:nth-child(3)
//     @media screen and (max-width: 1024px)
//       width: $half
//       float: left
//       .inner
//         float: left
//       @media screen and (max-width: 768px)
//         width: $full
