// 3-COL MARGIN SCHEME
.col-3
  // width: $one-third
  // margin-bottom: 10px
  &:nth-child(1)
    padding-right: 2%
  &:nth-child(2)
    padding: 0 1%
  &:nth-child(3)
    padding-left: 2%
// 2-COL MARGIN SCHEME
.col-2
  &:nth-child(odd)
    padding-right: 2%
  &:nth-child(even)
    padding-left: 2%
  @media screen and (max-width: 768px)
    padding: 0

// 2-COL SECTION ON HOME AND ABOUT PAGE
.ourway
  article
    padding: 20px
    min-height: 420px
    .button
      padding: 40px
    .inner
      height: 230px
      ul
        @extend .tick
        width: 69% !important
        margin: 0 auto
    &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5)
      width: $half
    &:nth-child(1), &:nth-child(3), &:nth-child(5)
      background: $grey1
    &:nth-child(2), &:nth-child(4)
      background: $grey2
    border: 2px solid white
    &:nth-child(3)
      width: 100%
      min-height: 320px
    img
      display: inline
      @include vendor-prefix('transition','all 0.3s ease')
      &:hover
        opacity: 0.6
    h2
      @include vendor-prefix('transition','all 0.3s ease')
      &:hover
        color: tint($prime-color1, 40%)
    &:nth-child(5)
      ul
        width: 209px
        margin: 0 auto
// ORANGE BANNER
.inspired
  width: $full
  background-image: url('img/rectangle.jpg')
  padding-top: 0
  .container
    width: 65%
  article
    width: $two-thirds
  .button
    margin: 12% 0 0 6%
// RESPONSIVE
.inspired
  .container
    @media screen and (max-width: 768px)
      width: 90%
      text-align: center
      .button
        margin: 30px 0
          